<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-xs-12 col-md-1"><%= message.user.name %></div>
      <div class="col-xs-12  col-md-11">
        <p class="card-text">
          <span class="text-muted"> at <%= message.timestamp %></span><br>
          <div id="message_text">
          <%= message.body %>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
