@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

body{
   font-family: 'Oswald', sans-serif;
 }
 h1{
  font-weight: 90;
  font-size: 80px;
  font-family: 'Pacifico', cursive;
 }
